name: Secure Quality Scan
on: [push, pull_request]
permissions:
  contents: read
jobs:
  quality-scan:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          persist-credentials: false
      - run: |
          docker pull gramener/builderrors:latest
          docker run --rm --security-opt=no-new-privileges --cap-drop=ALL -v "${{ github.workspace }}:/src:ro" gramener/builderrors:latest
