name: Code Quality Scan
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          persist-credentials: false
      - name: Run BuildErrors
        run: docker run --rm -v ${{ github.workspace }}:/src gramener/builderrors
